<html>
  <head>
    <title>Gin demo</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
  </head>
  <body>
    <img src=/public/gin.png alt="gin framework"/>
    <p>
      <a href="/ping" target="_blank">Ping</a>
      <br/>
      <a href="/now" target="_blank">Now</a>
      <br/>
      <a href="/redirect" target="_blank">redirect to start page</a>
      <br/>
      <a href="/users/john" target="_blank">User John</a>
      {{template "content" .}}
    </p>
  </body>
</html>
